@using ProjectManager.Components.Pages.ProjectHandler.Tabs
@using ProjectManager.Services
<div style="flex:1 1 auto; overflow-y:auto; padding:20px;">
    @switch (CurrentTab)
    {
        case "Info":
            <InfoTab Details="@Details" Contributors="@Contributors" />
            break;

        case "Create":
            <CreateTab ProjectName="@ProjectName"
                       RootContents="@RootContents"
                       GitHubService="@GitHubService"
                       ContextAccessor="@HttpContextAccessor" />
            break;

        case "Test":
            <TestTab />
            break;
    }
</div>

@code {
    [Parameter] public string CurrentTab { get; set; } = "Create";
    [Parameter] public string? ProjectName { get; set; }
    [Parameter] public GitHubRepoDetails? Details { get; set; }
    [Parameter] public IEnumerable<GitHubContributor>? Contributors { get; set; }
    [Parameter] public IEnumerable<GitHubContent>? RootContents { get; set; }
    [Parameter] public IGitHubService GitHubService { get; set; } = default!;
    [Parameter] public IHttpContextAccessor HttpContextAccessor { get; set; } = default!;
}